body {
    background-color: #222222;
}

div,
label {
    display: inline-block;
    vertical-align: top;
    color: #d89eff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

thead>tr>th,
tbody>tr>td {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
    color: #141414;
    background-color: #a367ca;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

thead>tr>th {
    background-color: #1d1d1d;
    color: #c267ff;
}

.timerInput {
    background-color: #cda8dc;
    position: relative;
    border: none;
    padding-left: 9px;
}

.timer {
    height: 300px;
    width: 260px;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    border: 5px solid #d89eff;
    border-radius: 25px;
    background-color: #651799;
    clear: both;
}

.varBtn {
    margin-left: 2%;
    border-radius: 8px;
    color: #43275a;
    background-color: #8f56fa;
    border: 2px solid #111 ;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.timerBtn {
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 48, 0.966);
    background-color: rgb(163, 27, 197);
}

.subjectBtn {
    background-color: #457B9D;
    border: none;
    width: 200px;
    font-size: 18px;
}

.todoListEntry {
    background-color: #A8DADC;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.expandBtn {
    float: right;
    background-color:#44b7ff;
    font-size: 120%;
    margin-left: 16px;
    width: 27px;
}

#calendar {
    text-align: center;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    margin-top: 60px;
}

.sidebar {
    height: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #111;
    word-wrap: break-word;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    z-index: 999;
    padding-left: 25px;
    right: -15px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    background-color: #111;
    display: block;
    transition: 0.5s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    bottom: 40px;
    font-size: 36px;
    width: 34px;
    word-wrap: normal;
    border-radius: 10px;
}

.openbtn:hover {
    background-color: #444;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.input-container {
    position: relative;
}

.timerLabel {
    font-size: 17px;
}

#countdown {
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#editableTable {
    border-collapse: collapse;
    width: 100%;
}

.editableTable {
    margin-left: 5%;
    margin-top: 6%;
    position: relative;
    clear: both;
}

.scheduleTable {
    margin-top: 3%;
    margin-right: 2%;
    float: right;
    position: relative;
    clear: both;
}

#scheduleTable {
    border-collapse: collapse;
    width: 100%;
}

#work,
#break {
    text-align: center;
}

.toDoChecklist {
    position: relative;
    margin-left: 0.75%;
    width: 15%;
}

.customSpace{
    color:black;
    min-width: 50px;
    background-color: #c267ff;
    padding: 10px 10px;
    margin-left: 2%;
}

textarea {
    min-width:50px;
    min-height: 40px;
    background-color: #44b7ff;
    margin-top: 12px;
}

table {
    border-collapse: collapse;
    width: 70%;
}

.logo-image img {
    width: 25px;
    height: 25px;
    overflow: hidden;
    margin-top: 4px;
    filter: invert(59%) sepia(21%) saturate(2685%) hue-rotate(217deg) brightness(115%) contrast(112%);
}

.topnav {
    background-color: #1d1d1d;
    overflow: hidden;
    width: 90%;
}

.topnav a {
    float: left;
    color: #d885ff;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #ddd;
    background-color: #d885ff;
}

.goblinList {
    list-style-type: "- ";
    text-decoration: none;
}

.goblinListST {
    list-style-type: "- ";
    text-decoration: line-through;
}
