body {
    background-color: rgb(210, 233, 236);
}

.timerInput {
    background-color: rgb(0, 183, 255);
    position: relative;
}

.input-container {
    position: relative;
}

div,
label {
    display: inline-block;
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timerLabel {
    font-size: 17px;
}

.timer {
    height: 250px;
    width: 15%;
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
    border: 5px solid rgb(26, 76, 168);
    border-radius: 25px;
    background-color: cornflowerblue;
}

#countdown {
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#editableTable {
    border-collapse: collapse;
    width: 35%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: rgba(126, 205, 255, 0.935);
}

th {
    background-color: #f2f2f2;
}

#scheduleTable {
    margin-top: 10%;
    margin-left: 50%;
    border-collapse: collapse;
    width: 100%;
}

#timerStart {
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid blue;
    background-color: dodgerblue;
}

#work,
#break {
    text-align: center;
}

.toDoChecklist {
    position: absolute;
    right: 5%;
}

.strikethrough {
    text-decoration: line-through;
}

.indented {
    margin-left: 20px;
}