body {
    background-color: #1D3557;
}

.timerInput {
    background-color: #A8DADC;
    position: relative;
    border: none;
    padding-left: 9px;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.input-container {
    position: relative;
}

div,
label {
    display: inline-block;
    vertical-align: top;
    color:#e1e9de;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.timerLabel {
    font-size: 17px;

}

.timer {
    float: right;
    height: 300px;
    width: 15%;
    text-align: center;
    margin-right: 2%;
    margin-top: 1%;
    border: 5px solid rgb(15, 46, 104);
    border-radius: 25px;
    background-color: #457B9D;
    clear: both;
}

#countdown {
    font-size: 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#editableTable {
    border-collapse: collapse;
    width: 100%;
}

.editableTable {
    margin-left: 10%;
    margin-top: 4%;
    position: relative;
    clear: both;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: #1D3557;
    background-color: rgb(168, 218, 220);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

th {
    background-color: rgb(230, 57, 70);
}

.scheduleTable {
    margin-top: 3%;
    margin-right: 2%;
    float: right;
    position: relative;
    clear: both;
}

#scheduleTable {
    border-collapse: collapse;
    width: 100%;
}

#timerStart {
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 48, 0.966);
    background-color: rgb(14, 75, 136);
}

#work,
#break {
    text-align: center;
}

.toDoChecklist {
    position: absolute;
    margin-left: 0.75%;
    margin-top: 0.5%;
    width: 15%;
}

.indented {
    margin-left: 20px;
}

.strikethrough {
    text-decoration: line-through;
}

.subjectBtn {
    background-color: #457B9D;
    border: none;
    width: 200px;
    font-size: 18px;
}

.todoListEntry {
    background-color: #A8DADC;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}